<div class="container" style="margin-top: 120px; min-height: 60vh;">
    <h2>Über mich & Fantasy Printing Art</h2>
    <div class="card" style="max-width: 800px; margin: 0 auto;">
        <p>
            Willkommen bei Fantasy Printing Art! Ich bin Tobias und leidenschaftlicher 3D-Druck-Enthusiast.
        </p>
        <p style="margin-top: 1rem;">
            Hier kannst du mehr über meine Geschichte, meine Drucker und meine Vision für dieses handwerkliche Business
            erfahren.
        </p>
        <p style="margin-top: 1rem; color: var(--text-secondary);">
            Kurz ein paar Worte zu mir: Ich bin Tobias, 36 Jahre alt und wohne in Essen. Ich habe Informatik studiert
            und arbeite seit 10 Jahren bei einem kleinen, Universitäts-nahen IT-Dienstleister als Softwareentwickler.
            Dort bin ich das erste mal in Kontakt mit einem 3D-Drucker gekommen. Anfänglich habe ich nur sporadisch
            etwas von einem Kollegen für mich drucken lassen, bis ich irgendwann ein Modell für meine Zwecke anpassen
            musste.
            Dadurch habe ich mich etwas näher mit der Thematik beschäftigt. Meine eigentliche Begeisterung entbrannte
            aber erst etwas später, nachdem wir fürs Büro einen neuren 3D-Drucker angeschafft hatten und besagter
            Kollege einen flexiblen, wunderschönen <a href="{{ '/dragons.html#shadowcoil' | relative_url }}">Drachen</a>
            darauf
            gedruckt hat. Der Drache hat
            mich umgehauen und ich wollte direkt auch einen. Zum einen wegen der Optik - das mehrfarbige Silk Pla liebe
            ich bis heute - zum anderen, weil ich unglaublich beeindruckt davon war, wie ein feinmechanisches Produkt
            aus einer kleinen Düse aus Filamenten zusammenwachsen kann. Das hat mich fasziniert.
            Zu guter Letzt hat der neue Drucker das Drucken selbst auch noch viel komfortabler gemacht.
            Ich brauchte auch einen 3D-Drucker.

        </p>

        <p style="margin-top: 1rem; color: var(--text-secondary);">
            Gekauft habe ich mir dann kurz darauf einen Bambu Lab A1 mini, das Einsteiger-Modell der gleichen Marke.
            Seitdem drucke ich alles, was mir in die Quere kommt. Hauptsächlich aber (bewegliche) Figuren, Fidget Toys
            und Blumentöpfe.
            Außerdem frage ich mich bei jedem Problem im Alltag, ob man es nicht durch einen 3D Druck lösen könnte.
            Entweder modelliere ich die Lösung selbst oder schaue ob es nicht doch schon eine gibt.
        </p>

        <p style="margin-top: 1rem; color: var(--text-secondary);">
            Ich habe sehr viel Spaß am ausprobieren und versuche, die schönsten Modelle zu finden und mit
            unterschiedlichen Farben zu drucken.
            Dafür habe ich mir im Laufe der Zeit eine <a href="{{ '/materials.html' | relative_url }}">große Sammlung
                unterschiedlicher Filamente</a> aufgebaut.
            Ebenfalls habe ich Spaß an kleineren Basteleien oder der Herstellen von Schlüsselanhängern, Ohrringen,
            Ketten oder funktionalen Teilen.
            Weswegen ich mittlerweile über die entsprechende Hardware verfüge, solche Sachen herzustellen. (TODO link to
            shop)
        </p>

    </div>

    <div class="card" style="display: none; max-width: 800px; margin: 0 auto;">
        <p>
            Herausforderungen des 3D-Drucks
        </p>
        <p style="margin-top: 1rem; color: var(--text-secondary);">
            Ein 3D-Drucker ist bei aller Faszination nicht fehlerfrei.
            Es ist ein Zusammenspiel aus vielen Faktoren, die stimmen müssen, damit am Ende ein perfekt gedrucktes
            Objekt herauskommt. Manchmal klappt es auch nicht auf Anhieb und man muss ein paar Dinge verändern. Ich habe
            gelernt, dass die meisten Probleme bei der Schichtadhäsion, also der Verbindung der einzelnen Schichten,
            liegen. Das kann an der Drucktemperatur, der Geschwindigkeit, der Kühlung oder auch an der Haftung der
            ersten Schicht auf der Bauplatte liegen.
            Oftmals ist es auch die Kombination aus mehreren Faktoren.
            Es gibt
        </p>

    </div>
</div>